.main-header {
  background-color: #111111;

  .navbar-nav {
    display: flex;
    align-items: center;

    .nav-link {
      color: #ffffff;
			text-transform: uppercase;
			font-size: 0.8rem;
      font-weight: bold;

      i {
        font-size: 0.75em;
        color: #8f8f8f;
      }

      &:hover,
      &:focus {
        color: #000;
      }
    }

    .navbar-toggler {
      border: none;
    }
  }
}
