.hero {
  background: #6378a7;
  background: url("../img/bg.png"),
    radial-gradient(
      circle,
      rgba(99, 120, 167, 1) 0%,
      rgba(48, 55, 83, 1) 25%,
      rgba(24, 27, 42, 1) 100%
    );
  background-position: center center;
  background-size: cover;
  color: #ffffff;

  h1 {
    font-size: 3em;
    font-weight: normal;
  }
}
